html{
    font-size: 32px;
}
.container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
#header{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.25rem;
}
h2{
    font-size: 1em;
    margin-block-start:1em; 
    margin-block-end:1em;
    padding: 0.5em;
}
li{
    display: inline-block;
    list-style: none;
}